{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<h1 style="text-align:center; margin-bottom:20px;">Bienvenido a CHECK‑GYM</h1>

<p style="text-align:center; font-size:18px; margin-bottom:30px;">
    Gestiona tus clases, reservas y horarios de forma sencilla.
</p>

<div style="text-align:center; margin-top:20px;">
    <a href="{% url 'listar_horarios' %}" class="btn-accion">
        Ver horarios
    </a>
</div>

<!-- IMAGEN DEBAJO DEL BOTÓN -->
<div style="text-align:center; margin-top:30px;">
    <img src="{% static 'img/home_banner.png' %}"
         alt="Imagen CHECK-GYM"
         style="width:70%; max-width:800px; border-radius:12px; box-shadow:0 3px 12px rgba(0,0,0,0.25);">
</div>

{% endblock %}
